Repository poshcodebear/PoshMailKit, pull requests merged in 2022-06, with the labels that each got.

#68 Remove .exe extension from pwsh in PostBuild
  PoshMailKit/PoshMailKit.csproj
Labels: bug, build

#70 67 v1 backport file lock
  .gitignore
  PoshMailKit/Internals/SmtpProcessor.cs
  PoshMailKit/ModuleMembers/PoshMailKit.psd1
  PoshMailKit/PoshMailKit.csproj
  PoshMailKit/Properties/AssemblyInfo.cs
  PoshMailKit/SendMKMailMessage.cs
  PoshMailKit/packages.config
Labels: bug, Send-MKMailMessage, v1-backport

#71 54 add project versioning to the build scripts
  PoshMailKit/Build/BuildConfig.json
  PoshMailKit/Build/PostBuildScript.ps1
  PoshMailKit/Build/PreBuildScript.ps1
  PoshMailKit/PoshMailKit.csproj
Labels: enhancement, build
